$portlet-header-margin-bottom: map-get($spacers, 5);

$portlet-topper-bg: #fff;
$portlet-topper-border: #888;
$portlet-topper-color: $text-color;
$portlet-topper-link-color: $text-color;
$portlet-topper-link-hover-color: $bright-color;

$portlet-content-border-radius: 0 0 8px 8px;
$portlet-topper-border-radius: 8px 8px 0 0;

$widget-resume-line-clamp-image: 3;
$widget-resume-line-clamp: 10;
$widget-resume-line-height: 1.35rem;