$body-bg: #fff;
$bright-color: #eb5937;
$complementary-color: #333;
$dark-color: #eb5937;
$light-color: #E7E7ED;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

$link-color: #bbb;
$button-color: #eb5937;
$navbar-light-color: #bbb;
$navbar-light-hover-color: #eb5937;
$navbar-light-active-color: #eb5937;
$text-color: #888;

$font-family: "PT Sans", Helvetica, sans-serif;