$body-bg: #FFF;
$bright-color: #EB5937;
$complementary-color: #333;
$dark-color: #EB5937;
$light-color: #E7E7ED;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

$link-color: #BBB;
$button-color: #EB5937;
$navbar-light-color: #BBB;
$navbar-light-hover-color: #EB5937;
$navbar-light-active-color: #EB5937;
$text-color: #888;

$button-hover-background: #333;
$button-text-color: #FFF;

$line-color: #F7F7F7;

$font-family: "PT Sans", Helvetica, sans-serif;