@import "components/breadcrumb";
@import "components/group-item";
@import "components/info-panel";
@import "components/navbars";
@import "components/sidebar";
@import "components/splitter";
@import "components/table";
@import "components/widget";
@import "portlet/portlet_decorators";
@import "portlet/portlet_hello_world";

header {
	.portlet, .field-wrapper, .form-group {
		margin-bottom: 0;
	}

	.text-default {
		color: $link-color;
		font-weight: 600;
	}

	.field-wrapper {
		position: absolute;
		right: 4px;
		top: 2px;

		a {
			color: #FFF;
		}
	}

	.portlet {
		margin-bottom: 0;

		&:hover {
			z-index: 1034;
		}
	}

	.user-avatar-link {
		position: relative;
	}

	.user-personal-bar {
		.fieldset {
			position: relative;
		}

		.sticker {
			bottom: auto;
			left: -1rem;
			right: auto;
			top: -1rem;
		}
	}

	.search-input {
		font-size: 0.9rem;
		padding: 0.3rem 2rem 0.3rem 1rem;
	}

	.user-avatar-image {
		display: inline-flex;
		margin-right: 0.5rem;
		vertical-align: middle;
	}

	.user-full-name {
		@include media-query(null, $screen-xs-max) {
			display: none;
		}
	}

	.contact {
		margin-left: 10%;
	}

	.contact-info {
		color: #FFF;
		display: inline-block;
		list-style-type: none;
		padding: 5px 15px;
	}

	.social {
		margin-right: 10%;
	}

	.social-icons {
		color: $dark-color;
		display: inline-block;
		list-style-type: none;
		padding: 5px 15px;
	}
}

.portlet-layout {
	color: $text-color;

	.portlet {
		.management-bar, .navbar-underline {
			> .container-fluid-max-xl {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.portlet-title-text {
			color: $text-color;
			font-size: 0.875rem;
			font-weight: 600;
			line-height: 2.2;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}

.btn-group + .info-panel {
	@include md {
		top: auto;
	}
}

#footer {
	background-color: $complementary-color;
	color: $link-color;
	height: 7rem;

	> .container {
		padding-top: 4rem;
	}
}

#wrapper {
	background-color: $body-bg;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body {
	font-family: $font-family;
}

a {
	color: $text-color;
}

a:hover {
	color: $dark-color;
	text-decoration: none;
}

hr {
	color: $complementary-color;
	height: 5px;
	max-width: 100%;
}

.btn {
	background-color: $button-color;
	border: round;
	color: $light-color;
}

.navlogo-wrapper {
	background: #FFF;
	border-bottom: 3px solid $line-color;
	display: flex;
	height: 90px;
	justify-content: space-around;
	padding-bottom: 1%;
	padding-top: 1%;
}

/* ------ Buttons ----- */

.input-group .btn-unstyled {
	color: $button-text-color;
}

.so-portlet-invite-members {
	.btn {
		margin-left: 75%;
	}
}

.btn:hover {
	background-color: $button-hover-background;
}

.btn-primary.btn-default {
	background-color: $dark-color;
	border: none;
	color: #FFF;
}

.btn-primary.btn-default:hover {
	background-color: $button-hover-background;
	color: $button-text-color;
}

.btn-default:hover {
	background-color: $button-hover-background;
	color: $button-text-color;
}

.btn-primary {
	border: none;
}

.btn-primary:focus {
	background-color: $button-hover-background;
	border-color: $complementary-color;
	box-shadow: 0 0 0 2px rgba(205, 206, 217, 0.5);
	color: $dark-color;
}

.btn-primary:hover {
	background-color: $button-hover-background;
	border-color: $complementary-color;
	box-shadow: 0 0 0 2px rgba(205, 206, 217, 0.5);
	color: $button-text-color;
}

.btn-secondary:focus {
	background-color: $button-hover-background;
	box-shadow: 0 0 0 2px rgba(205, 206, 217, 0.5);
	color: $button-text-color;
}

.btn-secondary:hover {
	background-color: $button-hover-background;
	box-shadow: 0 0 0 2px rgba(205, 206, 217, 0.5);
	color: $button-text-color;
}

.btn-outline-borderless:hover {
	background-color: $button-hover-background;
	border-color: none;
	box-shadow: 0 0 0 2px rgba(205, 206, 217, 0.5);
	color: $button-text-color;
}

.btn-primary:not([disabled]):not(.disabled):active {
	background-color: $button-hover-background;
}

.management-bar-light .nav-link, .management-bar-light .navbar-nav .btn-unstyled {
	background-color: $button-color;
	color: $button-text-color;
}

.navigation-bar-light .nav-link:hover, .navigation-bar-light .navbar-nav .btn-unstyled:hover {
	color: $navbar-light-hover-color;
}

.management-bar-light .nav-link:hover, .management-bar-light .navbar-nav .btn-unstyled:hover {
	background-color: $button-hover-background;
	color: $button-text-color;
}

.toggle-btn{
	background-color: #EB5937;
	border: none;
	border-radius: 5px;
	color: #FFF;
	padding: 10px;
}


/* ---- Site Name (if displayed) --- */

.text-dark {
	color: $text-color !important;
}

.text-dark:hover {
	color: $dark-color !important;
}

/* ------ Navbar ----- */

#portlet-body {
	font-family: $font-family;
}

.navbar-light {
	.navbar-brand {
		color: $navbar-light-active-color;
	}

	.navbar-nav {
		color: $text-color;
		font-size: 14px;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: $text-color;
}

.navbar-light .navbar-nav {
	.show > .nav-link,
	.active > .nav-link,
	.nav-link.show,
	.nav-link.active {
		color: $bright-color;
	}
}

.nav-tabs-default > .active > a:after {
	background-color: $dark-color;
}

.lfr-nav-child-toggle {
	display: none;
}

.dropdown-menu {
	box-shadow: inset 0 3px 0 0 $dark-color;
}

.dropdown-item {
	color: $link-color;

	@include hover-focus {
		color: $dark-color;
	}
}

.dropdown-item.active, .dropdown-menu > li > a.active, .dropdown-menu .link-list > li > a.active, .dropdown-item:active, .dropdown-menu > li > a:active, .dropdown-menu .link-list > li > a:active {
	background-color: $line-color;
	color: $dark-color;
}

.dropdown-item:hover, .dropdown-menu > li > a:hover, .dropdown-menu .link-list > li > a:hover, .dropdown-item:focus, .dropdown-menu > li > a:focus, .dropdown-menu .link-list > li > a:focus {
	background-color: $line-color;
	color: $dark-color;
}

.navbar-underline.navbar-expand-md .navbar-nav .nav-link.active:after {
	background-color: $dark-color;
	bottom: 0;
	content: '';
	display: block;
	height: 0.188rem;
	left: 0;
	position: absolute;
	right: 0;
	width: auto;
}

.navcollapse ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navcollapse ul > li {
	overflow: hidden;
}

.navcollapse ul > li:hover {
	overflow: visible;
}

.navcollapse li {
	float: left;
	position: relative;
}

.navcollapse a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

/* --- child item --- */

.navcollapse ul ul {
	background-color: $line-color;
	border-top: 1px solid $dark-color;
	left: 0;
	max-height: 0;
	position: absolute;
	right: 0;
	top: 100%;
	transition: max-height 1s;
	width: 200px;
	z-index: 99;
}

.navcollapse ul li:hover ul {
	max-height: 999px;
	padding: 0.3rem 0;
}

.navcollapse ul ul li {
	float: none;
}

/* ---- grandchild item --- */

.navcollapse ul ul ul {
	left: 100%;
	position: absolute;
	top: 0;
	width: 0;
}

.navcollapse ul ul li:hover ul {
	width: 100%;
}

.nav-child {
	color: $text-color;
}

.nav-child:hover {
	color: $dark-color;
}

.nav-link:hover {
	@include hover-focus {
		box-shadow: inset 0 -3px 0 0 $dark-color;
		color: $navbar-light-hover-color;
	}
	// padding-bottom: 2rem;
	// padding-top: 2rem;
}

/* ------ Portlet Web Content Setting ----- */

.portlet-journal-content .portlet .portlet-header .visible-interaction .lfr-icon-menu {
	color: $dark-color;
}

/* ------ Search Icon ----- */

.search {
	color: $text-color;
	padding-left: 10px;
	padding-right: 10px;
}

.search-box {
	background: $portlet-decorate-bg;
	border-top: 2px solid $dark-color;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: none;
	height: 47px;
	line-height: 25px;
	padding-top: 4px;
	position: absolute;
	right: 16.7%;
	top: 70px;
	width: 300px;
	z-index: 999;
}

.search-box:before {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 18px solid transparent;
	content: "";
	position: absolute;
	right: 13px;
	top: -32px;
}

.search-box input[type="text"] {
	background-color: $line-color;
	border: none;
	margin-left: 23px;
	padding: 5px 10px;
	width: 200px;
}

.search-box input[type="button"] {
	background: $dark-color;
	border: 1px solid $dark-color;
	color: $button-text-color;
	cursor: pointer;
	margin-left: -25px;
	outline: none;
	padding: 5px 0;
	width: 80px;
}

/* ----- Footer Links ---- */

.footer-links {
	text-align: right;
}

/* -------Smartphones ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.search {
		display: none;
	}

	.navbar-classic {
		background-color: #333;
		height: 100px;
	}

	.navlogo-wrapper {
		display: block;
		height: 150px;
	}

	.navbar-light .navbar-toggler {
		margin-left: 20%;
		text-align: center;
	}

	.navbar-toggler {
		background-color: #000;
		border: 1px solid transparent;
		border-radius: 0.25rem;
		font-size: 1.125rem;
		line-height: 1;
		padding: 0.25rem 0.75rem;
		width: 60%;
	}

	.navbar-collapse .navbar-nav {
		background-color: $line-color;
	}

	p {
		text-align: center;
	}

	#footer-links {
		text-align: center;
	}

	.cover-jumbo {
		display: none;
	}

	.feature-icon {
		display: none;
	}
}

/* -------iPads----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.search {
		display: none;
	}

	#portlet-body {
		font-size: 15px;
		padding-bottom: 0;
	}

	.navbar-expand-md {
		.navbar-collapse {
			.navbar-nav {
				flex-direction: row;
			}
		}
	}

	.navbar-classic {
		padding-top: 5rem !important;
	}

	.navlogo-wrapper {
		align-items: center;
		display: block;
		flex-direction: column;
		height: 150px;
	}

	.navbar-light .navbar-toggler {
		background-color: #000;
		border-color: rgba(0, 0, 0, 0.1);
		color: #FFF;
		margin-top: 2%;
		width: 700px;
	}

	.d-md-inline-flex {
		display: none !important;
	}

	.d-md-none {
		display: inline-block !important;
	}

	header {
		.contact {
			font-size: 18px;
			margin-left: 25%;
		}

		.social {
			font-size: 18px;
			margin-left: 20%;
		}
	}

	.cover-img {
		height: 30vh;
		margin: 0;
		object-fit: cover;
		width: 100%;
	}

	.cover-jumbo {
		display: none;
	}

	.services {
		margin: 0;
	}

	.recent-title {
		color: $text-color;
		font-size: 20px;
		font-weight: bold;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.recent-work {
		margin: 0;
	}

	.sample-space {
		margin: 0;
	}

	.col-md-6 {
		flex: 0 0 40%;
		margin-left: 8%;
		max-width: 50%;
	}

	.feature-icon {
		display: none;
	}
}

/* -------Desktops and laptops --------- */

@media only screen  and (min-width: 1224px) {
	.search {
		display: block;
	}

	#footer-links {
		text-align: right;
	}

	.col-md-6 {
		flex: 0 0 34%;
		margin-left: 10%;
		max-width: 33%;
	}

	header {
		.contact {
			font-size: 16px;
			margin-left: 18%;
		}

		.social {
			font-size: 18px;
			margin-right: 18%;
		}
	}
}

/* ------Carousel---- */

.carousel-indicators li {
	border-radius: 7px;
	height: 9px;
	width: 2px;
}

.cover-carousel {
	padding-bottom: 45px;
}

.cover-img {
	height: 50vh;
	margin: 0;
	object-fit: cover;
	width: 100%;
}

.cover-jumbo {
	background-color: rgba(25, 25, 25, 0.3);
	float: left;
	height: auto;
	padding: 30px;
	text-align: left;
	width: 500px;
}

/* ---Features and services--- */

.feature {
	max-width: 75%;
}

.services {
	margin-left: 12%;
	margin-right: 15%;
}

.services-box {
	margin-bottom: 50px;
	text-align: center;
}

.feature-icon {
	border: 1px solid #888 ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 45%;
    padding-top: 2.5%;
}

// .services-icon {
// 	border: 1px solid #888;
//     border-radius: 50%;
//     padding: 3%;
// }

.feature-icon:hover {
	border-color: $dark-color;
}

.services-widget-title {
	color: $link-color;
	font-size: 20px;
	font-weight: bold;
	margin: 30px 0;
	text-transform: none;
}

.services-link {
	color: $dark-color;
	font-weight: 600;
}

/* ----Recent Work----- */

.recent-work {
	margin: 0 8.5%;
}

.recent-title {
	color: #777;
	font-size: 20px;
	font-weight: bold;
	margin: 40px 0 40px 15px;
	padding-left: 8.5%;
}

.recent-img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.recent-work-title {
	font-size: 18px;
	padding-top: 10px;
}

.recent-work-text {
	color: #8B8B8B;
	display: block;
	font-size: 15px;
	line-height: 1.5;
	margin-bottom: 25px;
	text-align: left;
}

.client-spacing {
	margin-left: 15%;
}

.client-item-image {
	height: 53px;
	margin-top: 10px;
	width: auto;
}

/* -----Sample----- */

.sample-space {
	margin: 2% 15%;
}

.sample-page {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 10px;
}

.sample-page-title {
	color: #777;
	font-size: 20px;
	font-weight: bold;
}

.sample-page-img {
	padding-top: 20px;
	width: 100%;
}

.sample-page-p {
	padding-top: 15px;
}

/* ------Client----- */

.client-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.client-response {
	color: #777;
	display: flex;
	font-size: 16px;
	font-weight: normal;
	padding-top: 12px;
}

.client-photo {
	border-radius: 90px;
	float: left;
	height: 90px;
	margin: 0 20px 20px 0;
	width: auto;
}

.client-signature {
	font-size: 12px;
	padding-left: 25%;
	text-align: right;
}

/* ----Footer---- */

.footer {
	background-color: rgba(25, 25, 25, 0.9);
	color: $body-bg;
	height: 25vh;
	margin: 0;
	max-width: 100%;
}

.footer-heading {
	font-size: 18px;
	font-weight: 600;
	margin-left: 10%;
	padding-top: 5%;
	text-align: left;
}

.footer-description {
	line-height: 1.5;
	margin-top: 5%;
}

.footer-details {
	line-height: 2;
	list-style: none;
	padding-top: 2%;
	text-align: left;
}

.footer-item {
	border-bottom: 1px solid #FFF;
}

.portlet-forms {
	background-color: #D3D3D3;
	margin-left: 12.5%;
	width: 75%;
}

.scrollspy-button {
	background-color: $dark-color;
	border: none;
	border-radius: 4px;
	color: $button-text-color;
	margin-left: 47%;
	padding: 0.5rem;
}

#myToggler {
	margin-left: 46%;
}
