.container-fluid{
/*	margin:0;
	padding: 0;
}*/
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    /*padding-top: 10px;*/
}

a{
	color: #777;
}

a:hover{
	color: #eb5937;
	text-decoration: none;
}

hr{
	max-width: 100%;
	color: lightgrey;
	height: 5px;
}
.btn{
	color: white;
	background-color: #eb5937;
	border: round;
}


/*Social Media Icons / Top Header*/
.top-header{
	background-color: black;
	color: white;
	height: 5vh;
}
.header-text{
	display: inline-block;
	height: 1vh;
	margin-top: 5px;
}

.header-text p{
	font-weight: normal;
	padding: 0.5%;

}

.header-text a{
	margin-top: 5px;
	font-weight: normal;
	padding: 10px;

}

/*Logo and Site Name*/
.logo{
	padding: 10px;
}

/*Navbar*/
.main-nav{
	padding: 10px;
	font-size: 14px;
}

.main-nav li{
	float: left;
    position: relative;
    list-style: none;
    /*margin-top: 15px;*/
    line-height: 6;
}

.main-nav a{
	color: #8b8b8b;
    display: block;
    height: 90px;
    padding: 0 10px;
    text-decoration: none;
}

.main-nav a:hover{
	color: #eb5937;
}

/*Main Carousel*/
.carousel-indicators li{
  width: 2px;
  height: 9px;
  border-radius: 7px;
}
.cover-carousel{
	padding-bottom: 45px;
}

.cover-img{
	width: 100%;
	height: 70vh;
	object-fit: cover;
	margin: 0;

}

.cover-jumbo{
	width: 550px;
	height: auto;
	background-color: rgba(25, 25, 25, .3);
	padding: 30px;
	text-align: left;
	float: left;
	margin-bottom: 15vh;
}


/*Features and services*/
.services{
	margin-left: 15%;
	margin-right: 15%;
}
.services-box{
	margin-bottom: 50px;
	text-align: center;
}
.services-widget-title{
	margin: 30px 0;
    text-transform: none;
    color: #777;
    margin: 40px 0;
    font-size: 20px;
    font-weight: bold;
}
.services-link{
	color: #eb5937;
	font-weight: 600;
}


/*Call to action*/
.cta{
	border-top: 2px solid lightgrey;
	border-bottom: 2px solid lightgrey;
	background-color: rgba(240,240,240, 0.6);
	height: 20vh;
}

.cta-width{
	margin-left: 15%;
	margin-right: 15%;
}

.cta-quote{
	text-align: left;
	padding-top: 2vh;
	width: auto;
	height: 2vh;
}

.cta-btn{
	text-align: right;
	padding: 30px;
}


/*Recent Work*/
.recent-work{
	margin: 0 8.5% 0 8.5%;
}

.recent-title{
	margin: 40px 0 40px 15px;
	padding-left: 8.5%;
	color: #777777;
	font-size: 20px;
	font-weight: bold;
}

.recent-img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.recent-work-title{
	font-size: 18px;
	padding-top:10px;

}

.recent-work-text{
	text-align: left;
	font-size: 15px;
	color: #8b8b8b;
	line-height: 1.5;
	margin-bottom: 25px;
	display: block;

}

/*Sample */
.sample-space{
	margin: 0 15% 0 15%;
}
.sample-page{
	padding-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
}

.sample-page-title{
	font-size: 20px;
	font-weight: bold;
	color: #777;
}

.sample-page-img{
	width: 100%;
	padding-top: 20px;
}

.sample-page-p{
	padding-top: 15px;
}

/*Client*/
.client-response{
	font-size: 20px;
	font-weight: bold;
	color: #777;
	padding-top: 7px;
}

.client-photo{
	border-radius: 90px;
	float: left;
	margin: 0 20px 20px 0;
	width: auto;
	height: 90px;
	float: left;
}

.client-signature{
	padding-left: 25%;
	font-size: 12px;

}

/*Call to Action Clients*/
.clients {
	padding: 25px 10px;
	background: #FBFBFB;
	border-bottom: 3px solid #f6f6f6;
	border-top: 3px solid #f6f6f6;
	margin-top: 30px;
	height: 20vh;
}

.client-spacing{
	margin-left: 15%;
}

.client-item-image{
	width: auto;
	height: 53px;
	margin-top: 10px;
}


/*Footer*/
.footer{
	background-color: rgba(25, 25, 25, 0.9);
	height: 40vh;
	/*max-width: 100%*/
}
